.sidebarChannel:hover > h4 {
  color: whitesmoke;
  background-color: #40464b;
}

.sidebarChannel > h4 {
  display: flex;
  padding-left: 10px;
  align-items: center;
  background-color: #2f3135;
  color: gray;
  cursor: pointer;
}

.sidebarChannel_hash {
  font_size: 25px;
  padding: 5px;
}
